html{
  background: blueviolet url(images/bg-desktop.svg) no-repeat;
  background-position: top center;
  background-size: contain;
  color: #e6e7e8;
}
main{
  display: flex;
  max-width: 85%;
  margin: auto;
  padding: 2rem;
  padding-bottom: 0;
}
h2{
  font-family: 'Poppins';
  font-size: 2vw;
}
p{
  margin: 1.5rem 0;
  font-family: 'Open Sans';
  font-size: 1.2vw;
}
a{text-decoration: none;}

button{
  margin: 2rem auto;
  width: 50%;
  padding: .7rem;
  border-radius: 50px;
  font-family: 'Open Sans';
  border: none;
  background-color: #e6e7e8;
  color: blueviolet;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .6);
  transition: .3s;
}
button:hover{
  color: #e6e7e8;
  background-color: #FF52C1;
}
.socials{
  display: flex;
  justify-content: flex-end;
  margin: 2.5rem;
  margin-top: 0;
  text-align: right;
}
.iconBorder{
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 2px solid #e6e7e8;
  border-radius: 50%;
  color: #e6e7e8;
  padding: 5px;
  height: 35px;
  width: 35px;
  margin: 0 8px;
  transition: .3s;
}
a:hover{
  color: #FF52C1;
  border-color: #FF52C1;
}
/* desktop viewport */
@media (min-width: 936px){
  .logo{padding: 2rem 2rem 0;}
  .illustration{
    width: 60vw;
    margin-right: 1rem;
  }
  .text{
    width: 40vw;
    padding: 3rem;
  }
  button{margin: auto;}
}
/* tablet viewport */
@media (min-width: 546px) and (max-width: 935px){
  html{background-size: cover;}
  .logo{
    padding: 1rem 1rem 0;
    height: 13vh;
  }
  .illustration{
    width: 50vw;
    margin-right: 1rem;
  }
  .text{
    width: 50vw;
    padding: 1rem;
  }
  h2{font-size: 2.7vw;}
  p{
    margin: 1.5rem 0;
    font-size: 1.8vw;
  }
  button{margin: .5rem 0;}

}
/* mobile viewport */
@media (min-width: 200px) and (max-width: 545px){
  html{
    background-image: url(images/bg-mobile.svg);
    background-position: top center;
  }
  main{
    flex-direction: column;
    max-width: 100%;
  }
  .text{
    display: flex;
    flex-direction: column;
  }
  button{
    margin: 1.5rem auto;
    width: 50%;
  }
  .logo{
    height: 1.5rem;
    margin: 1.5rem;
  }
  .mockup{
    width: 50vw;
    margin: auto;
  }
  h2, p{
    text-align: center;
    margin: auto;
  }
  h2{
    font-size: 6vw;
    margin: 1rem;
  }
  p{
    font-size: 4vw;
    margin: 0 2rem;
  }
  .socials{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 1rem;
  }
}

.about{
  background-color: #1c1c1c;
  color: #e6e7e8;
  padding: .5rem;
  text-align: center;
  font-size: x-small;
}
.about p{
  margin: .5rem;
  font-size: xx-small;
}
p a{
  color: #e6e7e8;
  transition: .3s;
}
p a:hover{color: #e4d00a;}